.welcome {
	background-image: url(../img/backgrounds/h_img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding-top: 12rem;
}

#mouse {
	margin-top: 7rem;
}

.services {
	background-image: url(../img/backgrounds/s_image.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 8rem;
	padding-bottom: 7rem;
}

.contact {
	background-image: url(../img/backgrounds/c_image.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
}

.card-img {
	border-radius: 0;
}

.form-control {
	background-color: transparent;
	border-radius: 0;
}

.form-control::placeholder {
	color: white;
}

.user-input {
	width: 70%;
	margin:auto;
}

#design-text {
	display: none;
}

#dev-text {
	display: none;
}

#product-text {
	display: none;
}

h5:hover {
	font-weight: bolder;
}

.project1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: none;
}
